/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: grey;
	background-color: var(--bg-color);
	--homeblue: blue;
	--formelementgap: 25px;
}
